<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/findRoom.css">

</head>
<body>
    <header>
        <h2>jab we talk </h2>
        <ul>   
            <li><a href="/login">Log-in</a></li>
            <li><a href="/CreateAccount">Sign-up</a></li>
        </ul>
    </header>
    <main>
    <div class="searchRoom">
        <form action="/room/findRoom" method="post">
            Search Room : <input type="text" name="roomName" required placeholder="room name or room tag">
            <button type="submit">search</button>
        </form>
    </div>
    <div class="popularChatRooms"> 
        <% data.forEach(room => { %>
            <a href="/room?room=<%=room.roomName%>">
            <div class="defaultBlock">
                <div class="roomTitle"><%=room.roomName%></div>
                <div class="wrapperForEyeAndPeopelInRoom"><img src="/photos/eye.png" alt="eye img" height="17px"><b class="peopleOnline" id="<%=room.roomName%>"></b></div>
                <div class="description"><%=  room.roomDescription%></div>
            </div></a>
        <% }) %>
       
        </div>
        <div class="changePage">
        <% if (page > 1) { %>
        
            <form action="/room/findRoom?page=<%= page - 1 %>" method="post">
                <button type="submit">Previous page</button>
                <input type="hidden" name="roomName" value="<%= roomName%>">
            </form>
        
        <% } %>

        <span>Page <%= page %> of <%= totalPages %></span>

        <% if (page < totalPages) { %>
           
                <form action="/room/findRoom?page=<%= page + 1 %>" method="post">
                    <button type="submit">Next page</button>
                    <input type="hidden" name="roomName" value="<%= roomName%>">
                </form>
           
            <% } %> </div>
</main>
</body>
</html>